@import url(fontawesome.css);
@import url("<link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900' rel='stylesheet'>");
body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background: #070720;;
}

.navbar .navbar-brand em {
    font-style: normal;
    color: #f5a425;
}

.navbar .navbar-nav .nav-item .nav-link {
    margin-right: 20px;
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #f5a425;
}
